:root {
    --background-color: rgb(255, 255, 255);
    --accent-color: rgb(0, 0, 0);
    --accent-text-color: rgb(177, 219, 191);
    --border: 2px solid rgb(0, 0, 0);
    --radius: 2px;
    --scale: 1.5;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    text-align: center;
}

body{
    text-align: center;
    background-color: var(--background-color);
}

.top-nav{
    background-color: var(--accent-color);
    padding:10px;
    display: flex;
    margin-bottom:50px;
    position:fixed;
    width: 100%;
}
#portfolio-link{
    color: var(--accent-text-color);
    text-decoration: none;
    font-size: large;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#header{
    margin-top: 12vh;
    font-size: 5em;
    margin-bottom: 10vh;
}
.row-style{
    display: flex;
    align-content: center;
    gap: 20px;
}
#noteInput{
    height: 45px;
    width: 500px;
    border: var(--border);
    flex: 3;
    border-radius: 3px;
    resize:none;
    font-size: 1.5em;
    padding: 2px
}
#add-button{
    border: 0;
    background-color: var(--accent-text-color);
    border-radius: 5px;
    width: 100px;
}

.to-do-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    width: 620px;
    border-radius: var(--radius);
}

.check-box{
    height: 30px;
    width: 30px;
}

.check-box:checked{
    accent-color: var(--accent-text-color);
    }

.check-box:hover{
    scale: var(--scale);
}

.to-do-text{
    
    width: 500px;
    height: 32px;
    resize: none;
    font-size: larger;
    padding: 5px;
}

.delete-button{
    border: 0;
    background-color: var(--accent-text-color);
    border-radius: 5px;
    width: 30px;
    height: 30px;
}
